name: "DEVELOP Deploy"

on:
  push:
    branches:
      - develop

permissions:
      id-token: write # necessário para assumir roles no AWS
      contents: read # necessário para checkout do código

jobs:
    terraform:
        uses: ./.github/workflows/terraform.yml
        with:
            environment: "dev"
            aws-assume-role: "arn:aws:iam::180901265306:role/github-actions-nickfassis-cicd"
            aws-region: "us-east-1"
            aws-statefile-s3-bucket: "nickfassis-us-east-1-terraform-startefile"
            aws-statefile-dynamodb-table: "nickfassis-us-east-1-terraform-lock"